<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()"><i class="bi bi-list"></i></button>
    @if (collapsed) {
      <div class="logo-text">LeftStore</div>
    }
    @if (collapsed) {
      <button class="btn-cerrar" (click)="closeSidenav()">
        <i class="bi bi-x-lg"></i>
      </button>
    }
  </div>
  <ul class="sidenav-nav">
    @for (data of navData; track $index) {
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="[data.ruta]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
            @if (collapsed) {
              <span class="sidenav-link-text"> {{data.name}} </span>
            }
        </a>
      }
    </ul>
    />
</div>