.sidenav {
    background: #fff;
    transition: all .2s ease;
    position: fixed;
    z-index: 1;
    top: 4rem;
    width: 5rem;
    height: 100vh;
    box-shadow: 1rem;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 1rem 1rem 0 1rem;
        width: 100%;

        .logo {
            background-color: #142955;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            border: none;
            color: #fff;
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #142955;
        }

        .btn-cerrar {
            margin-left: auto;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            .bi-x-lg{
                font-size: 24px;
                color: #142955;
            }
        }
    }
}

.sidenav-collapsed {
    width: 16rem;
}

.sidenav-nav {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color:#142955;
            text-decoration: none;
            border-radius: 0.313rem;
            transition: color .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.9rem;
                display: flex;
                align-items: center;
                text-align: center;
            }

            .sidenav-link-text {
                font-style: normal;
                margin-left: 1.5rem;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #142955;
            color: #fff;
        }
    }
}

.active {
    background-color: #142955;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #fff;
    }
}