.bg-custom-blue {
    background-color: #142955;
}

.bg-custom-red {
    background-color: #DF5766;
}

.bg-custom-yellow {
    background-color: #f59a31;
}

.bg-custom-bluesoft {
    background-color: #eaf2f9;
}

.text-custom-red {
    color: #DF5766;
}

.text-custom-blue {
    color: #142955;
}

.bg-custom-blue-soft {
    background: #eaf2f9 !important;
}