.bg-custom-blue {
    background-color: #142955;
}

.bg-custom-red {
    background-color: #DF5766;
}

.bg-custom-yellow {
    background-color: #f59a31;
}

.text-custom-red {
    color: #DF5766;
}

.text-custom-blue {
    color: #142955;
}

.text-custom-blue-soft {
    color: #5b6988;
}