.body {
    width: calc(100% - 5rem);
    height: 100%;
    margin-left: 5rem;
    z-index: 0;
    margin-top: 4rem;
    transition: all .5s ease;
    padding: 3rem 5rem;
    background-color: #eaf2f9;
}

.body-trimmed {
    width: calc(100% - 16rem);
    margin-left: 16rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

@media (max-width: 768px) {
    .body {
        padding: 3rem 3rem;
    }
}

@media (max-width: 480px) {
    .body {
        padding: 3rem 2rem;
    }
}
