<div class="d-flex align-items-center justify-content-center">
    <div class="contain-form">
        <div class="mb-4">
            <h1 class="title-nunito mb-3">Establecer contraseña</h1>
            <h5 class="subtitle-nunito">Su contraseña anterior ha sido restablecida. Establezca una nueva contraseña para su cuenta.</h5>
        </div>
        <form>
            <div class="custom-input-group mb-4">
                <label for="contrasena" class="form-label">Crear contraseña</label>
                <input type="password" class="form-control" id="contrasena" formControlName="contrasena">    
            </div>
            <div class="custom-input-group mb-4">
                <label for="confirmar-contrasena" class="form-label">Confirma tu contraseña</label>
                <input type="password" class="form-control" id="confirmar-contrasena" formControlName="confirmar_contrasena">    
            </div>

            <button class="btn-custom-red" >Confirmar contraseña</button>
        </form>
    </div>
</div>