<app-dashboard-title
icon_title="fi fi-rr-boxes"
title="Productos"
/>
<div class="row d-flex align-items-center justify-content-center mb-0 mb-lg-4">
    <div class="col-12 col-lg-6 py-lg-0">
        <div class="search-container">
            <div class="position-relative">
                <div class="position-absolute top-50 translate-middle-y px-3"><i class="text-secondary bi bi-search"></i></div>
                <input (input)="applyFilter($event)" class="input-search ps-5" type="text" placeholder="Buscar producto...">
            </div>
        </div>
    </div>
    <div class="col-12 py-3 col-lg-6 py-lg-0 d-flex justify-content-center justify-content-lg-end">
        <button class="btn-custom-red"
            (click)="modalCrear.openModal()"
        >Agregar producto
    </button>
    </div>
</div>
<div class="card rounded-4 border border-0">
    <div class="card-body">
        <app-table
            #tableProducts
            [columns]="columns"
            [originalRows]="rows"
            [columnMappings]="columnMappings"
            [pageSize]="10"
            [accionEditar]="openModalEditar.bind(this)"
            [accionEliminar]="openModalEliminar.bind(this)"
            [acciones]="true"
        />
    </div>
</div>

<app-modal-crear-producto
    #modalCrear
    (productCreated)="onProductCreatedOrEditedOrDeleted()"
/>

<app-modal-editar-producto
    #modalEditar
    (productUpdated)="onProductCreatedOrEditedOrDeleted()"
/>

<app-modal-eliminar-producto
    #modalEliminar
    (productDeleted)="onProductCreatedOrEditedOrDeleted()"
/>